<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=M+PLUS+2:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
<div class="text-white">

  <div class="container text-dark">
    <div class="row justify-content-center üst ">
    <div class="col align-self-center col-md-8 ">
      <h1 class="display-4 fw-bold">Lightning anket oluşturucu ile profesyonel ve kullanıcı dostu online anket oluşturma!</h1>
    
      <ul class="lead  fw-bold text-dark">
        <li class="">
          Türkçe dili ile uyumluluk
        </li>
        <li class="" >En hızlı ve basit yoldan çeşitli anketler oluşturmak</li>
        <li class="">Raporlama ve anlık sonuçlar</li>
      </ul>
      <button class="btn btn-primary"><a class="text-decoration-none link text-white font-weight-bold" href="/anketler">Ücretsiz Anket Oluşturun</a></button>
    </div>
  </div>
</div>

</div>