<nav id="navbar" class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid" style="background-color: #94B5C0;">
    <a class="navbar-brand" href="">LIGHTNING</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse my-3" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="">Ana Sayfa</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="anketler">KAYITLAR</a>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="nav-item">
          <a class="nav-link" href="adminpaneli" aria-current="page" *ngIf="OturumKontrol()">
            Admin Paneli
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="login" aria-current="page" *ngIf="OturumKontrol()==false">
            GİRİŞ YAP
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="register" aria-current="page" *ngIf="OturumKontrol()==false">
            KAYIT OL
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/" aria-current="page"*ngIf="OturumKontrol()==true" (click)="OturumKapat()" >CIKIS YAP</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>
<br><br><br><br><br><br>
<section class="fixed-bottom p-2" style="background-color: #94B5C0;">
  <!-- Footer -->
  <footer class="text-center text-white mt-3" style="background-color: #94B5C0;">
    <div class="my-3">
      <a href="https://www.facebook.com/umutsimsek07/" class="me-4 text-reset">
        <i class="fab fa-facebook-f"></i>
      </a>
      <a href="https://twitter.com/Umutsimsek_07" class="me-4 text-reset">
        <i class="fab fa-twitter"></i>
      </a>
      <a href="https://www.google.com" class="me-4 text-reset">
        <i class="fab fa-google"></i>
      </a>
      <a href="https://www.instagram.com/umutsimsek07" class="me-4 text-reset">
        <i class="fab fa-instagram"></i>
      </a>
      <a href="https://www.linkedin.com/in/umut-%C5%9Fim%C5%9Fek-6331a9180/" class="me-4 text-reset">
        <i class="fab fa-linkedin"></i>
      </a>
      <a href="https://github.com/umutsimsek07" class="me-4 text-reset">
        <i class="fab fa-github"></i>
      </a>
    </div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2020 Copyright:
      <a class="text-white" href="https://github.com/umutsimsek07">Umut Simsek</a>
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->
</section>